html,body
  margin: 0
  padding: 0
  height: 100%

.container-card
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  padding: 10px

.flex-card
  flex: 0 1 350px
  height: 200px
  margin: 10px

.mdl-card__supporting-text
  word-wrap: break-word

.mdl-card__actions
  position: absolute
  bottom: 0
  background-color: white

.button-dialog-add-card
  position: fixed
  bottom: 20px
  right: 20px
  z-index: 2

.open-card
  float: right

#dialog-add-card
  width: 350px

#videoElement, #canvas
  width: 100%
  height: auto
  display: block
  //height:300px
  //ext-align: center;
  //height: 200px
#pictureContainer, .picture
  width: 100%
  min-height: 175px
  height: auto
  display:block
