/* CSS declarations go here */
body
{
	font-family: 'Nixie One', cursive;
}

#login_back
{
	background-image: url("img/login_back.jpg");
}


#login_box
{
	color: #2196F3;
	font-family: 'Nixie One', cursive;
	margin: 7em auto;
	box-shadow:  0 0 10px #999;
	background-color: rgba(255,255,255,0.5);
	
}

#logo_icon
{
	display: block;
	width :70%;
	margin: auto;
}

#emptyDesks
{
	padding: 10px;
}

#myCanvas, #floor_plan
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#floor_plan
{
	box-shadow:  0 0 20px #999;
}